<div class="container">
  <div class="card grid-item" *ngFor="let product of productsSlice">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{product.name}}</mat-card-title>
        <mat-card-subtitle>{{product.price}} USD / {{product.quantity}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{product.imageUrl}}">
      <mat-card-content>
        <p>
          {{product.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" id="buy-button">Buy Product</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
  <mat-paginator class="center" [length]="this.products.length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onPageChange($event)"
  aria-label="Select page">
</mat-paginator>