.card {
    width: 17vw;
    padding: 16px;
    height: 36rem;
    display: flex;
    margin: auto
  }

  #buy-button {
    bottom: 30px;
    position: absolute;
}

img{
  max-width: 400px;
}
.container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  width: 90vw;  
  align-items: center;
  margin: auto;
}
.center {
  display: flex;
  justify-content: center;
}
